:host {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: rgb(88,164,176);
    background: linear-gradient(90deg, rgba(88,164,176,1) 0%, rgba(216,219,226,1) 35%, rgba(240,184,153,1) 100%);
}
.btn-cancelar{
    --bs-btn-color: #ffffff;
    --bs-btn-bg: #9b9b9b;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #7e7e7e;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #666666;
    --bs-btn-active-border-color: #666666;
}
button {
    --bs-btn-color: #ffffff;
    --bs-btn-bg: #1ca1b6;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #188c9e;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #157786;
    --bs-btn-active-border-color: #157786;
    --bs-btn-disabled-border-color: #157786;
    --bs-btn-disabled-color: #ffffff;
    --bs-btn-disabled-bg: #157786;
}

.modal{
    /* -bs-modal-zindex: #{$zindex-modal};
    -bs-modal-width: #{$modal-md};
    -bs-modal-padding: #{$modal-inner-padding};
    -bs-modal-margin: #{$modal-dialog-margin}; */
    --bs-modal-color: #1B1B1E;
    --bs-modal-bg: #A9BCD0;
    --bs-modal-border-color: 373F51;
    --bs-modal-border-width: yellow;
    --bs-modal-header-border-color: #373F51;
    --bs-modal-footer-border-color: #373F51;
    /* -bs-modal-border-radius: #{$modal-content-border-radius}; */
    /* -bs-modal-box-shadow: #{$modal-content-box-shadow-xs};
    -bs-modal-inner-border-radius: #{$modal-content-inner-border-radius};
    -bs-modal-header-padding-x: #{$modal-header-padding-x};
    -bs-modal-header-padding-y: #{$modal-header-padding-y};
    -bs-modal-header-padding: #{$modal-header-padding}; // Todo in v6: Split this padding into x and y
    -bs-modal-header-border-width: #{$modal-header-border-width};
    -bs-modal-title-line-height: #{$modal-title-line-height};
    -bs-modal-footer-gap: #{$modal-footer-margin-between};
    -bs-modal-footer-bg: #{$modal-footer-bg};
    -bs-modal-footer-border-width: #{$modal-footer-border-width}; */
}

.card-formulario{
    background-color: #D8DBE2;

}

#lista-especialidades {
    max-height: 250px;
    overflow-y: auto;

}

.max-height{
    max-height: 250px;
}

.spinner-activado {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner-desactivado{
    display: none;
}

.fab-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
  }
  
  .fab-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background-color: #007bff;
    color: white;
    border-radius: 50%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
  }
  
  .fab-button:hover {
    background-color: #0056b3;
  }