<div class="d-flex flex-column flex-md-row align-items-center" style="height: 100%;">
    <div class="d-flex flex-column col-md-6 p-5" id="contenedor-1">

            <h1 class="mb-4 fw-semibold lh-1">Clínica online</h1>
        <h3>Atención médica especializada en un entorno accesible y eficiente, asegurando la satisfacción y el bienestar
            del paciente.</h3>
        <div class="d-flex flex-column col-md-10 mt-4">
                <button class="btn btn-lg rounded-pill" routerLink="../registro" id="btn-crear-cuenta">Crear una cuenta</button>
                <p class="mx-auto" id="cuenta-registrada">Si ya tiene una cuenta registrada,  <a routerLink="../login">haga click acá</a></p>
            </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center" id="contenedor-2" style="height: 100%;">
            <img src="../../../assets/doctores.png">
    </div>
</div>