:host {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: rgb(88,164,176);
    background: linear-gradient(90deg, rgba(88,164,176,1) 0%, rgba(216,219,226,1) 35%, rgba(163,240,153,1) 100%);
}

.card-especialistas{
    width: 400px;
}

.contenedor-turnos{
    max-height: 300px;
    width: 400px;
    overflow-y: auto;
}