:host {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: rgb(88,164,176);
    background: linear-gradient(90deg, rgba(88,164,176,1) 0%, rgba(216,219,226,1) 35%, rgba(163,240,153,1) 100%);
}

button {
    --bs-btn-color: #ffffff;
    --bs-btn-bg: #1ca1b6;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #188c9e;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #157786;
    --bs-btn-active-border-color: #157786;
    --bs-btn-disabled-border-color: #157786;
    --bs-btn-disabled-color: #ffffff;
    --bs-btn-disabled-bg: #157786;
}

label {
    --bs-btn-color: rgb(105, 105, 105);
    --bs-btn-bg: #1ca2b600;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #188c9e;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #1ca1b6;
    --bs-btn-border-color: #1ca1b6;
    --bs-btn-border-radius: .5rem;
    --bs-btn-active-border-color: #1ca1b6;
    --bs-btn-outline-color: black;
}

#lista-especialidades {
    max-height: 250px;
    overflow-y: auto;

}

.ng-invalid:not(form)  {
    border-left: 5px solid hsl(0, 100%, 62%); /* red */
  }

  .btn-paciente-grande, .btn-doctor-grande{
    border: none;
    border-radius: 15px; 
    padding: 1rem; 
    cursor: pointer;  
  }

  .btn-paciente{
    background-color: #328354;
  }

  .btn-doctor{
    background-color: #944cc4;
  }


  .btn-paciente-mediano, .btn-doctor-mediano{
    border: none;
    border-radius: 15px; 
    padding: 1rem; 
    cursor: pointer;  
    width: 200px;
    height: 200px;

    img{
        width: 100%;
    }
    
  }

  
  .btn-paciente-chico, .btn-doctor-chico{
    border: none;
    border-radius: 15px; 
    padding: 1rem; 
    cursor: pointer;  
    width: 175px;
    height: 175px;

    img{
        width: 100%;
    }
    
  }
  .spinner-activado {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner-desactivado{
    display: none;
}